.container {
    display: block;
    width: 560px;
    height: 90vh;
    padding:  0 0 0 10px;
    box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    background-color: #fff;
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

p {
    font: 16px/24px Georgia, sans-serif;
    color: #0f0f0f;
}